[Unit]
Description=tongfang keyboard control
After=udevd.service

[Service]
Type=oneshot
RemainAfterExit=no
User=plugdev
Group=plugdev
ExecStart=/usr/bin/tongfang-keyboard-control -b low -c yellow

[Install]
WantedBy=multi-user.target
